<!doctype html>
<html lang="sr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Meni ikone — DBA generalštab</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="intersection.component.css">
</head>

<body>

  <div class="app-wrapper">

    <main class="icons-grid">
      <a href="/sqladmin/servers" class="icon-card">
        <i class="bi bi-hdd"></i>
        <span>Serveri</span>
      </a>
      <a href="/sqladmin/sqlservers" class="icon-card">
        <i class="bi bi-database-fill"></i>
        <span>SQL instance</span>
      </a>

      <a href="/sqladmin/databases" class="icon-card">
        <i class="bi bi-cloud-arrow-down-fill"></i>
        <span>Baze i backup</span>
      </a>

      <a href="/sqladmin/requests" class="icon-card">
        <i class="bi bi-list-check"></i>
        <span>Zahtevi</span>
      </a>
      <a href="/sqladmin/actions" class="icon-card">
        <i class="bi bi-activity"></i>
        <span>Akcije</span>
      </a>
      <a href="/sqladmin/reports" class="icon-card">
        <i class="bi bi bi-code"></i>
        <span>Upiti</span>
      </a>
      <a href="/sqladmin/logins" class="icon-card">
        <i class="bi bi-people"></i>
        <span>Logins/users</span>
      </a>
      <a href="/sqladmin/accounts" class="icon-card">
        <i class="bi bi-person-heart"></i>
        <span>Administracija korisnika</span>
      </a>



      <a href="/sqladmin/onduty" class="icon-card">
        <i class="bi bi-calendar-heart"></i>
        <span>Dežurstva</span>
      </a>


    </main>

  </div>

</body>

</html>